.gradient-custom {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
.circular_image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        background-color: blue;
    
        display:inline-block;
        vertical-align:middle;
      }
      .circular_image img{
        width:100%;
      }
    
    .image-cropper img{
        object-fit: cover;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }