<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

    <link rel="stylesheet" th:href="@{/home.css}"/>

   

    <!-- The Stylesheet that is below will override the one on top--> 

    <title>Motivation of the Day</title>
</head>
<body>

    <ol>
    <div th:each = "quote:${quoteList}"> 
        <div id="ct">
          <div class="corner "id="left_top"></div>
          <div class="corner" id="left_bottom"></div>
          <div class="corner" id="right_top"></div>
          <div class="corner" id="right_bottom"></div>
          <span th:text = "${quote.getAuthor()}"></span>
          <blockquote>
            <p>&ldquo;<i th:text = "${quote.getMessage()}"></i>&rdquo;❤</p>
          </blockquote>
        </div>
      </div>
  </ol>
    

</body>
</html>