<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="D:/VisaWorkshop/miniproject2/src/main/resources/css/main.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- The Stylesheet that is below will override the one on top--> 

    <title>Motivation of the Day</title>
</head>
<body>








  
        <blockquote>
            &ldquo;You cannot find peace avoiding life.&rdquo; 
            &mdash; <footer>Virginia Woolf</footer>
        </blockquote>

        <div class="container">
            <blockquote class="quote-box">
              <p class="quotation-mark">
                “
              </p>
              <p class="quote-text">
                Don't believe anything that you read on the internet, it may be fake. 
              </p>
              <hr>
              <div class="blog-post-actions">
                <p class="blog-post-bottom pull-left">
                  Abraham Lincoln
                </p>
                <p class="blog-post-bottom pull-right">
                  <span class="badge quote-badge">743</span>  ❤
                </p>
              </div>
            </blockquote>
        </div>  

</body>
</html>