<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote</title>
</head>
<body>

    <form 
    action = "#"
    th:action = "@{/contact}"
    th:object = "${contact}"
    method = "post">

    <p>
        <label for="Date">Date: </label>
        <input type="date" id="start" name="date">
    </p>

    <p>
        Quote: <input type="text" id="message" value="Life is not always a matter of holding good cards, but sometimes, playing a poor hand well.">
    </p>
</body>
</html>