<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

    <link rel="stylesheet" th:href="@{/general.css}"/>
    <title>Entry Saved</title>
</head>
<div class="body">

<p><a href="/" class="btn btn-outline-light btn-lg px-5">Log out
</a></p>
     
<h2><span>Saved Entry </span></h2>
</div>
<div class="container text-center pt-5 mt-5">
<body th:object = "${form}">

    <h1>Your Entry Information</h1>

</div>
<div class="container text-center pt-5 mt-5">
<table class="table table-dark">
    <tbody>
    <div th:object ="${form}"> 
      
          <tr>
            <th scope="row">Thoughts </th>
            <td th:text = "*{thoughts}"></td>
          </tr>
          <tr>
            <th scope="row">Feelings </th>
            <td th:text = "*{feelings}"></td>
        </tr>
        <tr>
            <th scope="row">Quote </th>
            <td th:text = "*{message}"></td>
        </tr>
        <tr>
            <th scope="row">Author </th>
            <td th:text = "*{author}"></td>
        </tr>

        </tbody>
      </table>
    </div>
      <!--
<div class="container">
    <div class="row">
      <div class="col">
            Thoughts:
            
      </div>
      <div class="col">
            Feelings:

      </div>
      <div class="col">
            Quote:
      </div>
      <div class="col">
            Author:
        <div class="row" th:object = "${form}">
            <div class="col">
              <p
                  th:text = "*{thoughts}">
              </p>
            </div>
            <div class="col">
              <p
                  th:text = "*{feelings}">
              </p>
            </div>
            <div class="col">
              <p
                  th:text = "*{message}">
              </p>
            </div>
            <div class="col">
              <p
                  th:text = "*{author}">
              </p>
      </div>
    </div>-->
  </div>

    

</body>
</html>